.createContainer {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(140, 194, 255);
}
.createInput {
    margin-top: 0px;
}
.createText {
    margin-bottom: 5px;
}
.createButton {
    height: 42px;
    width: 110px;
    border-radius: 10px;
    background-color: rgb(75, 51, 141);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.createButton:hover {
    background-color: rgb(126, 117, 150);
}
.createButtonText {
    color: white;
}